*{
    box-sizing: border-box;
    outline: none;
    transition: all .3s ease-in-out;
}

html,body,#app{
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}


body{
    padding: 3% 10px;
    background-image: linear-gradient(-250deg, #EF6565 , #F4B653);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: body-grad 5s ease-in-out infinite;
}

.container{
    width: 100%;
}

.card{
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.input-group{
    padding-bottom: 10px;
    width: 100%;
}

.input{
    padding: 10px;
    width: 100%;
}

.input.text{
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}

.input.button{
    font-size: 20px;
    border-radius: 5px;
    background: #EF6565;
    border: 0px;
    color: #fff;
}

.input.button:hover{
    background: #e25d5d;
}

.input.button:active{
    background: #a83939;
}

.logo{
    display: block;
    width: 170px;
    height: auto;
    margin: 10px auto;
}

.result-group{
    width: 100%;
}

.result-group .img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.result-group .img img{
    width: auto;
    height: 100%;
}

.result-group .store{
    color: #EF6565;
}

.result-group .store.cuisine, .result-group .store.location{
    color: rgba(0,0,0,0.3);
}

.result-group .store.location{
    font-size: 0.8em;
    margin: 10px 0;
}

.result-group .store.rating{
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.result-group .store.rating{
    text-align: center;
}

.fade-in{
	animation: fade-in .2s ease-in-out;
}
.fade-in-up{
	animation: fade-in-up .2s ease-in-out;
}

.spinner{
    margin: 20px auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 3px solid rgba(0,0,0,0.5);
    border-top: 3px solid transparent;
    animation: spin .3s linear infinite;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-in-up{
    from{
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes spin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width: 400px){
    .card{
        width: 100% !important;
    }
}